@charset "UTF-8";

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    margin-top: 3%;
}

a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.699);
}

a:hover {
    color: rgba(255, 255, 255, 0.993);
}

body {
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    z-index: 0;
}

body::before {
    content: "";
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(145, 145, 145, 0.4);
    z-index: 0; 
    pointer-events: none; 
}

.voltar {
    position: absolute;   
    top: -56px;            
    left: 367px;           
    cursor: pointer;    
}

.background-wrapper > * {
    position: relative;
    z-index: 2;
}

header > h1 {
    text-align: center;
    color: white;
    text-shadow: 2px 1px 0px rgb(37, 37, 37);
}

.table, section, form {
    width: 400px; 
    margin: 0 auto;
}

form {
    padding: 15px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.6);
}

form input[type="email"],
form input[type="password"] {
    width: 90%;
    display: block;
    margin: 20px auto; 
    box-sizing: border-box;
    padding: 12px 20px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form input[type="submit"] {
    height: 46px;
    width: 55%;
    display: block;
    margin: 20px auto; 
    background-color: #4CAF50;
    font-size: 1em;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #45a049;
}
